body {
  background-color: white;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

/* Inter Fonts */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--el-color-primary-light-9);
}
::-webkit-scrollbar-thumb {
  background: var(--el-color-info-light-7);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}